<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misrobot.mismarketing.dao.project.ProjectHistoryEntityMapper">

    <resultMap id="BaseResultMap" type="com.misrobot.mismarketing.entity.ProjectHistoryEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_id" jdbcType="INTEGER"
                property="projectid"/>
        <result column="modify_date"
                jdbcType="TIMESTAMP"
                property="modifydate"/>
        <result column="title"
                jdbcType="VARCHAR"
                property="title"/>
        <result column="modify_content"
                jdbcType="VARCHAR"
                property="modifycontent"/>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            project_id,
            modify_date,
            title,
            modify_content
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_modify_history where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="queryAllRecords" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_modify_history ORDER BY modify_date DESC
    </select>

    <select id="queryAllRecordsByProjectID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project_modify_history where project_id = #{projectid, jdbcType = INTEGER} ORDER BY modify_date DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from project_modify_history where id = #{id, jdbcType=INTEGER}
    </delete>

    <delete id="deleteByProjectID" parameterType="java.lang.Integer">
        delete from project_modify_history where project_id = #{projectid, jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.misrobot.mismarketing.entity.ProjectHistoryEntity">
        insert into project_modify_history
        (id,
        project_id,
        modify_date,
        title,
        modify_content)
        values
        (#{id, jdbcType=INTEGER},
        #{projectid, jdbcType=INTEGER},
        #{modifydate, jdbcType=TIMESTAMP},
        #{title, jdbcType=VARCHAR},
        #{modifycontent, jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.misrobot.mismarketing.entity.ProjectHistoryEntity">
        insert into project_modify_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>

            <if test="projectid != null">
                project_id,
            </if>

            <if test="modifydate != null">
                modify_date,
            </if>

            <if test="title != null">
                title,
            </if>

            <if test="modifycontent != null">
                modify_content,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="id != null">
                #{id, jdbcType=INTEGER},
            </if>

            <if test="projectid != null">
                #{projectid, jdbcType=INTEGER},
            </if>

            <if test="modifydate != null">
                #{modifydate, jdbcType=TIMESTAMP},
            </if>

            <if test="title != null">
                #{title, jdbcType=VARCHAR},
            </if>

            <if test="modifycontent != null">
                #{modifycontent, jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.misrobot.mismarketing.entity.ProjectHistoryEntity">
        update project_modify_history
        <set>
            <if test="projectid != null">
                project_id = #{projectid, jdbcType=INTEGER},
            </if>
            <if test="modifydate != null">
                modify_date = #{modifydate,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="modifycontent != null">
                modify_content = #{modifycontent,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>